@charset "utf-8";
@import "./bulma-0.8.2/bulma.sass";

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$beige-light: #D0D1CD;

$widescreen-enabled: true;
$fullhd-enabled: true;
$input-placeholder-color: #D0D1CD;
$input-focus-border-color: none;
$input-focus-box-shadow-size: none;
$input-focus-box-shadow-color: none;

// Update some of Bulma's component variables
$body-background-color: #FFF;
$control-border-width: 2px;
$input-border-color: $beige-light;
$input-shadow: none;
$subtitle: #9e9e9e;
$title: #4d4d4d;

// Import only what you need from Bulma
@import "./bulma-0.8.2/sass/utilities/_all.sass";
@import "./bulma-0.8.2/sass/base/_all.sass";
@import "./bulma-0.8.2/sass/elements/button.sass";
@import "./bulma-0.8.2/sass/elements/container.sass";
@import "./bulma-0.8.2/sass/elements/title.sass";
@import "./bulma-0.8.2/sass/form/_all.sass";
@import "./bulma-0.8.2/sass/components/navbar.sass";
@import "./bulma-0.8.2/sass/layout/hero.sass";
@import "./bulma-0.8.2/sass/layout/section.sass";
