form {
  background: white;
  padding: 40px;
}

.form__content {
  padding: 23px 0px;
}

.del__btn {
  float: right;
  margin: -2.5rem;
}
.form__notification {
  padding: 15px 30px;
  margin: 14px 0px;
}
.next__btn {
  float: right;
}

input.form__checkbox {
  margin-right: 6px;
}
